absl-py @ file:///opt/conda/conda-bld/absl-py_1639803114343/work
anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///C:/ci_310/cffi_1642682485096/work
channelnorm-cuda @ file:///C:/Users/students/PycharmProjects/Ilya_new/layers_package/channelnorm_package
charset-normalizer==2.0.12
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1632508026186/work
colorama==0.4.4
cryptography @ file:///C:/ci/cryptography_1652101770956/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cytoolz==0.11.0
dask==2021.10.0
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
entrypoints==0.4
fastjsonschema==2.15.3
fonttools==4.25.0
fsspec @ file:///C:/ci/fsspec_1652784443011/work
grpcio @ file:///C:/ci/grpcio_1637590993074/work
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
importlib-metadata==4.0.1
importlib-resources==5.7.1
iniconfig==1.1.1
ipykernel==6.13.0
ipython==7.34.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.2
json5==0.9.8
jsonschema==4.5.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyter-packaging==0.12.0
jupyter-server==1.17.0
jupyterlab==3.4.2
jupyterlab-pygments==0.2.2
jupyterlab-server==2.14.0
jupyterlab-widgets==1.1.0
kiwisolver @ file:///C:/ci/kiwisolver_1653274189334/work
locket @ file:///C:/ci/locket_1652885902808/work
Markdown @ file:///C:/ci/markdown_1614364005059/work
MarkupSafe==2.1.1
matplotlib @ file:///C:/ci/matplotlib-suite_1647423638658/work
matplotlib-inline==0.1.3
mistune==0.8.4
mkl-fft==1.3.1
mkl-random @ file:///C:/ci/mkl_random_1626186163140/work
mkl-service==2.4.0
munkres==1.1.4
nbclassic==0.3.7
nbclient==0.6.3
nbconvert==6.5.0
nbformat==5.4.0
nest-asyncio==1.5.5
networkx @ file:///tmp/build/80754af9/networkx_1633639043937/work
notebook==6.4.11
notebook-shim==0.1.0
numpy==1.21.6
open3d==0.15.1
packaging==20.9
pandas==1.3.5
pandocfilters==1.5.0
parso==0.8.3
partd @ file:///opt/conda/conda-bld/partd_1647245470509/work
pickleshare==0.7.5
Pillow==9.1.1
pluggy==0.13.1
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.1
psutil==5.9.1
py==1.10.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
Pygments==2.12.0
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
pyparsing==2.4.7
pyrsistent==0.18.1
PySocks @ file:///C:/ci/pysocks_1594394709107/work
pytest==6.2.4
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
pytz==2022.1
PyWavelets @ file:///C:/ci/pywavelets_1648728036674/work
pywin32==304
pywinpty==2.0.5
PyYAML==6.0
pyzmq==23.0.0
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
resample2d-cuda @ file:///C:/Users/students/PycharmProjects/Ilya_new/layers_package/resample2d_package
scikit-image @ file:///C:/ci/scikit-image_1648196140109/work
scipy @ file:///C:/ci/scipy_1641555141383/work
Send2Trash==1.8.0
sip==4.19.13
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.2.0
soupsieve==2.3.2.post1
tensorboard==1.15.0
terminado==0.15.0
tifffile==2020.10.1
tinycss2==1.1.1
toml==0.10.2
tomlkit==0.11.0
toolz @ file:///tmp/build/80754af9/toolz_1636545406491/work
torch==1.11.0
torchaudio==0.11.0
torchvision==0.12.0
tornado @ file:///C:/ci/tornado_1606935947090/work
traitlets==5.2.1.post0
typing-extensions==3.10.0.0
urllib3 @ file:///C:/ci/urllib3_1650639842077/work
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug @ file:///opt/conda/conda-bld/werkzeug_1645628268370/work
widgetsnbextension==3.6.0
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306165655/work
wincertstore==0.2
zipp==3.4.1
